*{
    box-sizing: border-box;
}
.Toolbar {
    height:80px;
    top: 42px;
    right: -290px;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    transform: rotateZ(90deg);
    transform-origin: left top;
}

.Logo {
    transform: rotateZ(-90deg);
    height: 100%;
}

@media (max-width: 600px) {
    /* .DesktopOnly {
        display: none;
    } */

    .Logo {
        display: none;
        /* transform: rotateZ(0deg);
        justify-self: flex-start; */
    }

    .Toolbar {
        min-width: 100%;
        right: 0;
        justify-content: center;
        flex-wrap: nowrap;
        /* right:3rem; */
        top: 1.5rem;
        transform: rotateZ(0deg);
        transform-origin: left top;
    }
} 


/* *{
    box-sizing: border-box;
}

.Toolbar{
    height: 72px;
    width: 100%;
    top: 32px;
    position: absolute;
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: center;
} */

