*{
    box-sizing: border-box;
}
.Toolbar {
    height:80px;
    top: 42px;
    right: -300px;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    transform: rotateZ(90deg);
    transform-origin: left top;
}

.Logo {
    transform: rotateZ(-90deg);
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
} 


/* *{
    box-sizing: border-box;
}

.Toolbar{
    height: 72px;
    width: 100%;
    top: 32px;
    position: absolute;
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: center;
} */

