
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    /* background-image: linear-gradient(220deg, #090909, #120E31); */
    /*background-image: linear-gradient(220deg,#000000, #212121)*/
    /* background: -webkit-linear-gradient(bottom right, #000000, #2B2B2B); */
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    /* margin-top: 64px; */
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.heading {
    color: white;/*#FFFFE4;*/
    /* top: 64px;
    left: 48px; */
    font-size: 5rem;
    font-family: 'Playfair display';
    letter-spacing: 0.1rem;
    margin-top: 4rem;
    /* font-weight: 500; */
}

.thalluText{
    width: 40%;
    /* position: relative;
    left: 48px; */
    color: white;
    opacity: 0.6;
    font-size: 1.3rem;
}

/* .grad {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgb(3,1,27);
    background: linear-gradient(90deg, rgba(3,1,27,1) 36%, rgba(9,9,121,0) 67%);
    z-index: -90;
} */

.grad {
    position: fixed;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    background: rgb(3,1,27);
    background: linear-gradient(90deg, rgba(3,1,27,1) 36%, rgba(9,9,121,0) 67%);
    z-index: -90;
}


/*.BgIm {
    position: absolute;
    z-index: -100;*/
    /* margin-left: 20%;
    position: fixed; */
    /* top: 50%;
    left: 50%; */
    /* max-width: 100%; */
    /* max-height: 100%;*/
    /* width: auto;
    height: auto; 
    z-index: -100; */
    /* transform: translate(-50%, -50%); */
/*} */

.BgIm {
    margin-left: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* max-width: 100%; */
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
} 

@media (max-width: 640px) {
    .heading {
        font-size: 3rem;
        margin-top: 8rem;
    }

    .thalluText {
        width: 80%;
    }
}